.navbar {
    background: #7B1A9D;
}

.navbar-brand{
    color: #fff;
    font-family: peralta;
    font-size:x-large;
}
/* Intro body */
.homeBody{
    background-image: url(/assets/1_background_with_text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.fixed-bottom{
    margin-bottom: 30px;
}
.btn{
    background-color: #7B1A9D;
    font-family: peralta;
    color: #fff;
    box-shadow: 0px 0px 8px 10px #8a038f;
}


/* main game body */
.gameBody{
    background-image: url(/assets/2_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.namesBody{
    background-image: url(/assets/2_background_with_text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
