.navbar {
    background: #7B1A9D;
}

.navbar-brand{
    color: #fff;
    font-family: peralta;
    font-size:x-large;
}
/* Intro body */
.homeBody{
    background-image: url(/assets/first_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/assets/first_background.png);
  background-size: cover;
  margin: 0; */
}
.midText123 {
    position: relative;
    top: 200px; /* Change this value to move the text up or down */
    left: 500px; /* Change this value to move the text left or right */
    color: #8B25CA; /* Text color */
    /* Add more styling as needed */
    font-size: 56px;
  }



/* main game body */
.gameBody{
    background-image: url(/assets/2_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

