* {
    font-family: peralta;
    text-align: center;
    color: white;
}

/* Intro body Start*/
.homeBody {
    background-image: url(/assets/1_1_background_with_text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.fixed-bottom {
    margin-bottom: 60px;
}

.btn {
    background-color: #ffe4e4;
    font-family: peralta;
    color: #b804ff;
    font-size: 48px;
    /* box-shadow: 0px 0px 8px 10px #8a038f; */
}

/* Intro body End*/


/* Enter you Name Start*/
.namesBody {
    background-image: url(/assets/2_2background_with_text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.formcontrol {
    width: 420px;
    height: 60px;
    font-family: peralta;
    font-size: 35px;
    background-color: rgb(101, 0, 129);
    margin-bottom: 70px;
    border-radius: 10px;

}

/* Enter you Name End*/

#gameDiv {
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: rgba(106, 5, 113, 0.43);
}


/* testing my stuff here start */
.gameBody {
    background-image: url(../assets/2_22background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* NavBar start */
.navbar {
    background: #7B1A9D;
}

.navbar-brand {
    color: white;
    font-size: 35px;
    margin: 0px 20px;
}

/* NavBar End */

.firstDiv {
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-container {
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rotatable-image {
    justify-content: center;
    align-items: center;
    max-width: 200px;
    border-radius: 40%;
    transition: transform .5s ease, opacity .0s ease;
}

.rotatable-image:hover {
    /* background: linear-gradient(to right, red, yellow); */
    filter: brightness(120%);
    opacity: 0.9;
    transition: transform .5s;
}

.flex-container2 {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.CPU-image {
    justify-content: center;
    align-items: center;
    max-width: 200px;
    border-radius: 40%;
    transition: transform .5s ease, opacity .0s ease;
}
/* Fight container Start------------------- */
.secondDiv2 {
    min-height: 70vh; 
    display: flex;
    flex-direction: column;
    /* max-width: 100%; */
    /* justify-content: center; */
    flex-basis: 20%;
    /* align-items: center; */

}
.scores3 {
    height: 200px;
}
.scores3 h1{
    font-size: 90px;
}
.content.last{
    /* display: flex; */
    /* flex-direction: row; */
margin-top: auto;

}
.h1modesTxt{
    /* justify-self: end; */
}
.modesButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.modesButtons button{
    width: 200px;
    background-color: #7B1A9D;
}
.item:nth-of-type(2) {
    margin-left: 10px;
    margin-right: 10px;
}

button{
    font-size: 30px;
    width: 100px;
    height: 50px;
}

/* Fight container End------------------- */



/* player's Names text Start--------- */
.playerNames {
    display: flex;
    justify-content: center;
}

.playerNames h1 {
    font-family: peralta;
    font-size: 70px;
}

.scores1 {
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.scores1 h1 {
    align-self: start;
    font-size: 70px;
    text-align: center;
}

.scores2 {

    display: flex;
    justify-content: center;

}

.scores2 h1 {
    align-self: start;
    font-size: 70px;

}



/* testing my stuff here end */